<!--

Games works like this 


I've just written this little exercice if you want to:


This exercise consists in writing a “More or Less” game with AngularJS.
Write the simplest possible HTML, do not add any CSS styling.

Workflow:
   The user is shown a button “Start the game”
   When the users clicks on this button, a secret number is generated behind the scene and a form is shown
   The form contains these elements:
         A title (“What is the secret number?”)
         A field: the player will enter his suggestions here
         A submit button
   When the form is submitted, don’t reload the page, but check the value given by the player:
         if it’s greater than the secret number, display a “It’s less!” message
         if it’s lesser than the secret number, display a “It’s more!” message
         if it’s equal to the secret number, hide the form, display a “You win!” message and show a “Restart” button

Bonus:
If you have enough time, it could be great to add these features:
   Display the total number of attempts at the end of the game
   Above the “Start” and “Restart” buttons, show a form allowing the player to configure the game:
         He will be able to set the range for the generated number
         He will be able to set a maximum number of attempts


-->
<!DOCTYPE html>
<html>
	<head>
	  <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
	</head>
	<body>
	  <div ng-app="game" ng-controller="Controller">
		 <div>
			{{heading}}
		 </div>
		 <div id="input">
			<input type="text" ng-model="inputVal">
			<input type="submit" ng-click="game.submit()">
			<br />
			<label ng-bind-html-unsafe="message">{{message}}</label>
			<br />
			<label ng-bind-html-unsafe="restart">{{restart}}</label>
		 </div>
		 
	  </div>
	  <script>
		var app = angular.module('game',[]);
		app.controller('Controller',function($scope){
			$scope.heading = "Guessing the game";
			$scope.inputVal = '';
			
			
			
			var a = 10;
			$scope.game = 
			{
				random_number : Math.floor(Math.random()*100+1),
				
				submit : function()
				{
					if(isNaN(parseInt($scope.inputVal,10)))
					{
						$scope.message = 'Aww only numbers please.....';
						$scope.inputVal = '';
						return false;
					}
					else
					{
						var message = $scope.game._validate(parseInt($scope.inputVal,10));
						console.log($scope.game.random_number);
						$scope.restart	= '';
						if( ! message.guess)
							$scope.message = 'You are almost there try a little <strong>'+ message.message +'</strong>';
						else
						{
							$scope.message = 'Awesome!!! you have done it.';
							$scope.restart = "<a href='/' > restart</a>";
						}
							
						return true;	
					}
					
				},
				_validate : function(value)
				{
					var guess	=	false,
						message = '';	
						
					if(value === $scope.game.random_number)
					{
						guess	=	true,
						message = 'Done it';		
					}
					else if(value > $scope.game.random_number)
					{
						message = 'lower';
					}	
					else if(value < $scope.game.random_number)
					{
						message = 'higher';
					}
					return {guess:guess, message:message}
				}
			} 
		});
		
		
		
		
	  
	  </script>
	</body>
</html>
