<!--

Games works like this 


I've just written this little exercice if you want to:


This exercise consists in writing a “More or Less” game with AngularJS.
Write the simplest possible HTML, do not add any CSS styling.

Workflow:
   The user is shown a button “Start the game”
   When the users clicks on this button, a secret number is generated behind the scene and a form is shown
   The form contains these elements:
         A title (“What is the secret number?”)
         A field: the player will enter his suggestions here
         A submit button
   When the form is submitted, don’t reload the page, but check the value given by the player:
         if it’s greater than the secret number, display a “It’s less!” message
         if it’s lesser than the secret number, display a “It’s more!” message
         if it’s equal to the secret number, hide the form, display a “You win!” message and show a “Restart” button

Bonus:
If you have enough time, it could be great to add these features:
   Display the total number of attempts at the end of the game
   Above the “Start” and “Restart” buttons, show a form allowing the player to configure the game:
         He will be able to set the range for the generated number
         He will be able to set a maximum number of attempts


-->
<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Guess the secret number given" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

</head>

<body>
    <header>

        <nav>
            <div style="margin-top:5%;margin-left:3%;">This is a simple game where you need to guess number between 1-100
            </div>
        </nav>
    </header>

    <div ng-app="game" style="margin-top:3%;margin-left:5%;" ng-controller="Controller">

        <div id="input">
            <form class="pure-form">
                <div class="pure-u-1 pure-u-md-1-6">
                    <input id="city" class="pure-u-23-24" maxlength="3" style="width:200px" type="number" ng-model="inputVal" placeholder="Guess the number" required>
                    <button type="submit" ng-hide="guess" class="pure-button pure-button-primary" ng-click="game.submit()">Submit</button>
                    <button type="submit" ng-show="guess" class="pure-button pure-button-primary" ng-click="game.init()">Reset</button>

                </div>

            </form>
            <br /><br /><br />
            <label ng-bind-html-unsafe="message">{{message}}</label>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="pure-menu custom-restricted-width">

            <span class="pure-menu-heading">How does this work</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">if it’s greater than the secret number, display a “It’s less!” message</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">if it’s lesser than the secret number, display a “It’s more!” message</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link"> if it’s equal to the secret number, hide the form, display a “You win!” message and show a “Restart” button bin description</li>
        
    </ul>
  </div>
	  </div>
       
    
   
     <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>

	 </body>
	 <script>
	 var app = angular.module('game',[]);
		app.controller('Controller',function($scope){
			$scope.heading = "Guess the number(1-100)";
			$scope.inputVal = '';
          $scope.guess = false;
			$scope.game = 
			{
				random_number : Math.floor(Math.random()*100+1),
				
				submit : function()
				{
                    $scope.message = '';
					if(isNaN(parseInt($scope.inputVal,10)))
					{
						$scope.message = 'Aww only numbers please.....';
						$scope.inputVal = '';
						return false;
					}
					else
					{
						var message = $scope.game._validate(parseInt($scope.inputVal,10));
						console.log($scope.game.random_number);
						$scope.restart	= '';
						if( ! message.guess)
							$scope.message = 'You are almost there try a little '+ message.message;
						else
						{
                            $scope.guess = message.guess;
							$scope.message = 'Awesome!!! <b>"'+ $scope.game.random_number +'"</b> is correct answer <i class="fa fa-check" aria-hidden="true"></i>';
						}
							
						return true;	
					}
					
				},
				_validate : function(value)
				{
					var guess	=	false,
						message = '';	
						
					if(value === $scope.game.random_number)
					{
						guess	=	true,
						message = 'Done it';
					}
					else if(value > $scope.game.random_number)
					{
						message = '<b>lower</b>';
					}	
					else if(value < $scope.game.random_number)
					{
						message = '<b>higher</b>';
					}
					return {guess:guess, message:message}
				},
                init : function(){
                  $scope.game.random_number = Math.floor(Math.random()*100+1);
                  $scope.message = '';
                  $scope.inputVal = '';
                  $scope.guess = false;
                } 
			} 
		});
			
	 	
	 </script>
</html>
